*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin-top: 20px;
    align-items: center;
    gap: 320px;
    display: flex;
}
ul{
    gap: 30px;
    list-style: none;
    display: flex;
}
.but{
    border: none;
    background-color: #fff;
    width: 84px;
    height: 40px;
}
.bat{
    border-radius: 8px;
    width: 74px;
    height: 40px;
    border: none;
    background-color: #583101;
}
.grid-main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 20px;
    margin-top: 100px;
}
.grid-1 {
    border-radius: 24px;
    background-size: 102%;
    background-image: url(./afa8a7b72bbd0ea027c2f0516214d14f2d946bdf.png);
    background-color: #F3D5B5;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-1 h1{
    margin-top: 125px;
    text-align: center;
    color: #432818;
    font-size: 48px;
}
.grid-2 {
    border-radius: 10px;
    background-color: black;
    background-size: 100%;
    background-image: url(./e1724bb233bc616043545608a2a40579f1c5c2a5.jpg);
    background-repeat: no-repeat;
    background-position: center;
        grid-column: 2/4;
}
.grid-3 {
    border-radius: 10px;
    background-color: #16222D;
    background-size: 150%;
    background-image: url(./3adde267bcdd5c6a0d40fd70236c9b96b6df6e70.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/3;
}
.grid-4 {
    border-radius: 10px;
    background-color: #F3D5B5;
    background-size: 140%;
    background-image: url(./faa40dfd7b750fb1f8f011d2e964c2d6491da5b7.png);
    background-repeat: no-repeat;
    background-position: center;
}
.grid-4 h1{
    margin-top: 125px;
    text-align: center;
    color: #432818;
    font-size: 48px;
}
section{
    padding-bottom: 50px;
    background-color:  #FFF4E8;
    width: 100%;
    margin-top: 50px;
}
section p{
    color: #593D3D;
}
.container-text{
    padding-top: 80px;
    display: flex;
    gap: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-text h2{
    font-size: 40px;
    margin-top:15px;

}
.img1{
    margin-top: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background-size: cover;
    width: 1200px;
    height: 500px;
    background-image: url(./0aaf5e752f8d0a9cd028ba8e790cf803b4abe046.jpg);
}
.container-main{
    display: flex;
    flex-direction: column;
}
.sec{
    background-color: #fff;
}
.text1-container{

     padding-top: 80px;
    display: flex;
    gap: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text1-container h3{
    color: #251805;
    font-size: 48px;
}
.container-img{
     width: 80%;
     margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 300px);
    gap: 30px;
    margin-top: 100px;
}
.grid-6 {
    background-color: black;
    background-size: 200%;
    background-image: url(./menu-images.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-row: span 2;
}
.grid-7 {
    background-color: #16222D;
    background-size: 400%;
    background-image: url(./3adde267bcdd5c6a0d40fd70236c9b96b6df6e70.jpg);
    background-repeat: no-repeat;
    background-position: center;
        grid-row: span 2;
}
.grid-8 {
    background-color: #F3D5B5;
    background-size: 400%;
    background-image: url(./3adde267bcdd5c6a0d40fd70236c9b96b6df6e70.jpg);
    background-repeat: no-repeat;
    background-position: center;
        grid-row: span 2;
}
.grid-9 {
    background-color: black;
    background-size: 400%;
    background-image: url(./e1724bb233bc616043545608a2a40579f1c5c2a5.jpg);
    background-repeat: no-repeat;
    background-position: center;
        grid-row: span 2;
}
.grid-10 {
    background-color: #16222D;
    background-size: 150%;
    background-image: url(./3adde267bcdd5c6a0d40fd70236c9b96b6df6e70.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.grid-11 {
    background-color: #F3D5B5;
    background-size: 140%;
    background-image: url(./faa40dfd7b750fb1f8f011d2e964c2d6491da5b7.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sect{
    background-color: #fff;
}
.text-container{
     padding-top: 80px;
    display: flex;
    gap: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text-container h3{
    color: #251805;
    font-size: 48px;
}
.img-line1 h3{
    color: #583101;

}
.img-line1 p{
    color: #251805CC;

}
.img-line1{
    margin-top: 80px;
}
.img-line1 h3{
    margin-top: 20px;
}
.img-line1 p{
    margin-top: 35px;
}
.img-line1 button{
    border-color: #583101;
    color: #583101;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
}
.dildo{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer {
  background-color: #432818;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
    color: #FFF4E8;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 10px;
}

.footer-box p,


.footer-box ul {
  list-style: none;
  padding: 0;
}
.h4{
    margin-top: 20px;
}
